[user]
  name = jamespetran
  email = {{ range (bitwarden "item" "github.com").fields }}{{ if eq .name "noreply_email" }}{{ .value }}{{ end }}{{ end }}

[alias]
  st = status
  co = checkout
  br = branch
  cm = commit
  unstage = reset HEAD --
  last = log -1 HEAD
  graph = log --oneline --decorate --graph --all
  lg = log --pretty=format:'%Cred%h%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[core]
  editor = nano
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  light = false

[init]
  defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
